.infoContainer {
	border: 3px ridge;
	padding: 3px;
	position: fixed;
	display: inline-block;
	top: 50px;
	right: 50px;
	background-color: #C0C0C0;
	width: 200px;
	height: 280px;
	font: 12px arial;
}

.infoContainer div {
	margin-left: 5px;
}

.infoContainer div span {
	color: blue;
	float: right;
}

.infoContainer p {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
}

#banner {
	height: 100;
	color: white;
	background-color: blue;
	font-size: 40px;
	text-align: center;
}

#menu {
	background-color: gray;
	padding: 5px;
}

.menuItem {
	padding: 3px;
	margin-left: 3px;
	background-image: -moz-linear-gradient(top, #0022ff 0%, #AACCFF 85%, #0022FF 100%);
	font: 20px bold;
	color: white;
}

.imageArea {
	color: red;
}